<head>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
</head>
<body>
  <header>
    <h1>todo<span>list</span></h1>
    <h2>A simple todo list app built with node</h2>
  </header>
  
  <section class="form">
    <input type="text" id="todoInput" placeholder="Insert your task here...">
  </section>

  <ul class="list">
  </ul>

<script type="text/javascript" src="app.js"></script>
</body>